:root {
    --font-global: 22px;
    --font-titulo: 2.25em;
    --font-titulo-link: 2em;
    --font-titulo-link-mobile: 0.8em;
    --font-global-sm: 20px;
    --font-titulo-sm: 22px;
    --guias: 20px;
    --azul: #ABD2CD;
    --verde: #ACCC83;
    --laranja: #FDCA3D;
    --rosa: #DEAFC8;

}

* {
    padding: 0;
    margin: 0;
}

.antes_funciona {
    background-color: #abd2cd;
    grid-area: antes;
}


.depois_funciona {
    background-color: #abd2cd;
    grid-area: depois;
    width: 120px;
}

.funciona {
    display: grid;
    /* min-height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 72px;
    grid-template-areas: "antes funciona depois";
}


.como_funciona {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo);
    padding: 24px 40px;
    background-color: none;
    grid-area: funciona;
}

.depois_funciona {
    background-color: #abd2cd;
    grid-area: depois;
    width: 120px;
}

/* REUSO DE CÓDIGO */
.saber {
    display: grid;
    /* min-height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 72px;
    grid-template-areas: "antes funciona depois";
}

.antes_saber {
    background-color: #DEAFC8;
    grid-area: antes;
}

.saber_mais {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo);
    padding: 0 40px;
    background-color: none;
    grid-area: funciona;
}

.depois_saber {
    background-color: #DEAFC8;
    grid-area: depois;
    width: 120px;
}

/* REUSO DE CÓDIGO - FIM */

.inclua-texto {
    font-family: "Sora", sans-serif;
    padding: 0px 40px;
    font-size: var(--font-global);
    grid-area: inclua;

}

.inclua-recursos-texto {
    font-family: "Sora", sans-serif;
    padding: 40px;
    font-size: var(--font-global);
    grid-area: inclua-recursos
}

.guias {
    font-family: "Sora", sans-serif;
    font-size: 14px;
    grid-area: guias;
    padding-right: 25px;
}

.biblioteca {
    font-family: "Sora", sans-serif;
    font-size: 14px;
    grid-area: biblioteca;
    margin-bottom: 100px;
}

.inclua-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-template-areas: "inclua guias";
}

.inclua-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "guias inclua";
}

.inclua-grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                "inclua guias ";
}

.inclua-recursos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inclua-recursos biblioteca";
}

.grafico {
    grid-area: grafico;
    padding: 180px;
    margin: -115px 0 0 0;
}

.grafico-video {
    grid-area: grafico;
    padding: 50px;

}

.grafico-manual {
    grid-area: grafico;
    padding: 50px;

}

.grafico-brief {
    grid-area: grafico;
    padding: 50px;

}

.resultado {
    font-family: "Sora", sans-serif;
    padding: 40px;
    font-size: 20px;
    grid-area: resultado;
}

.resultado-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px;
    grid-template-areas: "result";

}

.resultado-flex {
    display: flex;
    flex-direction: row;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo);
}

.resultado>p.linha {
    border-color: #ACCC83;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 25%;
}

.resultado-flex>div:nth-child(1) {
    background-color: #ACCC83;
    padding: 8px 35px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo)
}

.recurso-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "recursos";
    margin-top: 60px;
    margin-bottom: 50px;
}

.recurso-container {
    padding: 45px;
    margin-top: -140px;
    display: flex;
    flex-wrap: nowrap;
}

.recurso-container>div {
    padding: 8px 35px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo);
    grid-area: recursos;
}

.recurso-container>div:nth-child(1) {
    background-color: var(--laranja);
}


/* Recurso Fim */

.diagnostico-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "diagnostico";
}

.diagnostico-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "diagnostico";
}

.diagnostico-container {
    padding: 45px;
    display: flex;
    flex-wrap: nowrap;
}

.diagnostico-container>div {
    padding: 8px 35px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo);
    grid-area: diagnostico;
}



.cor_azul {
    background-color: var(--azul);

}

.cor_rosa {
    background-color: var(--rosa);

}

.cor_verde {
    background-color: var(--verde);

}

.guias-container {
    display: flex;
    flex-direction: column;
}

.guias-container>div {
    background-color: var(--rosa);
    width: auto;
    padding: 30px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo-link);
    transition: 0.3s;

}

.guias-container>div>a {
    padding-top: 20px;
    height: 100px;
    color: #000000;
    text-decoration: none;

}

.guias-container>div:hover {
    text-decoration: none;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: thin;
}

a:link,
a:visited {
    background-color: transparent;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: transparent;
}

.biblioteca-container {
    display: flex;
    flex-direction: column;
}

.biblioteca-container>div {
    background-color: var(--laranja);
    width: auto;
    padding: 30px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: var(--font-titulo-link);
    transition: 0.3s;

}



.biblioteca-container>div:hover {
    text-decoration: none;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: thin;
}


.biblioteca-container>div>a {
    color: #000000;
    text-decoration: none;
}

.inclua-texto>p.linha {
    border-color: #abd2cd;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 25%;
}

.inclua-recursos-texto>p.linha {
    border-color: #abd2cd;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 25%;
}

/* 3 - PLATAFORMA*/
.plataforma-grid {
    display: grid;
    margin-top: 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "plataforma video";
}

.plataforma-container {
    padding: 50px 50px 50px 0px;
    margin-left: 0px;
    grid-area: "plataforma video";
}

.plataforma-container>h1 {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: right;
}

.plataforma-container>h1.linha-2 {
    border-color: #FECB3F;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 100%;
}

/* 3 - MANUAL*/
.manual-grid {
    /* padding: 100px 50px 0 0; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "plataforma video";
}

.manual-container {
    padding: 50px;
    margin-left: 0px;
    padding-left: 0px;
    grid-area: "plataforma video";
}

.manual-container>h1 {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top: 25px;
    width: 100%;
    text-align: right;
}

.manual-container>h1.linha-2 {
    border-color: #FECB3F;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 100%;
}

/* 3 - POLICY BRIEF*/
.brief-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "plataforma video";
}

.brief-container {
    /* padding: 100px 50px 0 0; */
    margin-left: 0px;
    padding-left: 0px;
    grid-area: "plataforma video";
}

.brief-container>h1 {
    text-align: right;
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 30px;
    /* padding-right: 50px */
}

.brief-container>h1.linha-2 {
    border-color: #FECB3F;
    border-bottom-style: solid;
    padding-top: 25px;
    width: 100%;
}

/*VERSÃO MOBILE*/
@media (max-width: 2500px) {
    body {
        overflow-x: hidden;
    }

    .grafico {
        grid-area: grafico;
        padding: 280px;
        margin: -190px 0 0 0;
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        padding: 0px 35px;
        font-size: var(--font-global);
        grid-area: inclua;
        margin-top: 100px;
    }

}

@media (max-width: 1800px) {
    body {
        overflow-x: hidden;
    }

    .grafico {
        grid-area: grafico;
        padding: 180px;
        margin: -122px 0 0 0;
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        padding: 0px 35px;
        font-size: var(--font-global);
        grid-area: inclua;
        margin-top: 100px;
    }

}

@media (max-width: 1400px) {
    body {
        overflow-x: hidden;
    }

    .grafico {
        grid-area: grafico;
        padding: 180px;
        margin: -70px 0 0 0;
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        padding: 0px 35px;
        font-size: var(--font-global);
        grid-area: inclua;
        margin-top: 50px;
    }

}

@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .grafico {
        grid-area: grafico;
        padding: 100px;
        margin: -40px 0 0 0;
    }

}


@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .antes_funciona {
        background-color: #abd2cd;
        grid-area: antes;
    }

    .antes_funciona_quer {
        background-color: var(--rosa);
        grid-area: antes;
    }

    .guias {
        font-family: "Sora", sans-serif;
        grid-area: guias;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 30px;
        margin: 30px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-link);
        transition: 0.3s;

    }

    .inclua-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 480px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 488px 520px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .resultados-container {
        padding: 45px;
        display: flex;
        flex-wrap: nowrap;
        padding-top: 100px;
    }

    .como_funciona {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-sm);
        padding: 0 40px;
        margin-bottom: 50px;
        background-color: none;
        grid-area: funciona;
    }

    .inclua-recursos-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 450px;
        grid-template-areas: "inclua-recursos inclua-recursos"
                    "biblioteca biblioteca";
    }

    .saber_mais {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 30px;
        padding: 0 20px;
        background-color: none;
        grid-area: funciona;
        /* width: 400px; */
    }

    .manual-container>h1 {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 25px;
        padding-top: 25px;
        /* width: 92%; */
        text-align: center;
    }

    .guias2-container>div {
        /* background-color: #abd2cd; */
        width: auto;
        /* padding: 30px; */
        /* margin: 30px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 40px;
        transition: 0.3s;
    }

    .diagnostico-container {
        padding: 0 0 45px 0;
        display: flex;
        flex-wrap: nowrap;
    }

    .diagnostico-container>div {
        padding: 8px 35px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 32px;
        grid-area: diagnostico;
        margin-left: 0%;
    }

    .diagnostico-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "diagnostico";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 40px; */
        /* font-size: var(--font-global-sm); */
        grid-area: inclua;

    }

    .inclua-recursos-texto {
        font-family: "Sora", sans-serif;
        padding: 40px;
        font-size: var(--font-global-sm);
        grid-area: inclua-recursos
    }



    .plataforma-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        grid-template-areas: "plataforma";
    }

    .plataforma-container {
        padding: 0px;
        margin-left: 0px;
        padding-left: 0px;
        grid-area: "plataforma";

    }

    .plataforma-container>h1 {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        padding: 25px 10px 0px 10px;
    }

    .funciona {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px;
        grid-template-areas: "antes funciona depois";
    }

    .recurso-container {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        height: 90px;
    }

    .recurso-container>div {
        padding: 8px 35px;
        /* margin: 10px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 32px;
        grid-area: recursos;
    }

    .recurso-container>div:nth-child(1) {
        background-color: var(--laranja);
        margin: 0;
    }

    .depois_saber {
        background-color: #DEAFC8;
        grid-area: depois;
    }

    .manual-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        /* justify-items: center;
        align-items: center; */
        grid-template-areas: "plataforma";
    }

    .brief-grid {
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: right;
        grid-template-areas: "plataforma";
    }

    .brief-container {
        padding: 0px;
        margin-left: 0px;
        grid-area: "plataforma video";
    }

    .brief-container>h1 {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 25px;
        padding-top: 35px;
        text-align: center;
    }

    .guias-container>div>a {
        color: #000000;
        text-decoration: none;
        font-size: 20px;
    }


    .saber_mais {
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 21px;
        padding: 20px;
        background-color: none;
        grid-area: funciona;
    }

    /* .text-end {
        text-align: center !important;
        padding: 0;
    } */

    .biblioteca {
        font-family: "Sora", sans-serif;
        grid-area: biblioteca;
        height: 300px;
    }

    .biblioteca-container>div {
        background-color: var(--laranja);
        width: auto;
        padding: 30px;
        margin: 30px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 27px;
        transition: 0.3s;

    }

    .depois_funciona {
        background-color: #abd2cd;
        grid-area: depois;
        width: 0px;
    }

    .biblioteca-container>div>a {
        color: #000000;
        text-decoration: none;
        font-size: var(--guias);
    }

    .grafico {
        grid-area: grafico;
        /* padding-top: 10px; */

    }

    .manual-container {
        padding: 0px;
        margin-left: 0px;
        padding-left: 0px;
        grid-area: "plataforma video";
    }


}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 30px;
        /* margin: 30px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-link);
        transition: 0.3s;
    }
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 30px;
        /* margin: 30px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-link);
        transition: 0.3s;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 230px;
    }
}

@media (max-width: 510px) {
    body {
        overflow-x: hidden;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 30px;
        /* margin: 30px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-link);
        transition: 0.3s;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 300px;
    }
}

@media (max-width: 437px) {
    body {
        overflow-x: hidden;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 30px;
        margin-top: 60px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: var(--font-titulo-link);
        transition: 0.3s;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 400px;
    }
}

@media (max-width: 375px) {
    body {
        overflow-x: hidden;
    }

    .diagnostico-container>div {
        padding: 8px 35px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 32px;
        grid-area: diagnostico;
        margin-left: 0%;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 15px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        transition: 0.3s;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 510px;
    }
}

@media (max-width: 345px) {
    body {
        overflow-x: hidden;
    }

    .diagnostico-container>div {
        padding: 8px 35px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 32px;
        grid-area: diagnostico;
        margin-left: 0%;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 15px;
        /* margin-top: 60px; */
        /* margin-bottom: -25px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        /* font-size: 12px; */
        transition: 0.3s;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 510px;
    }
}

@media (max-width: 320px) {
    body {
        overflow-x: hidden;
    }

    .diagnostico-container>div {
        padding: 8px 35px;
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        font-size: 32px;
        grid-area: diagnostico;
        margin-left: 0%;
    }

    .guias-container>div {
        background-color: var(--rosa);
        width: auto;
        padding: 15px;
        /* margin-top: 60px; */
        /* margin-bottom: -25px; */
        text-align: center;
        line-height: 75px;
        font-family: "Sora", sans-serif;
        font-weight: 600;
        /* font-size: 12px; */
        transition: 0.3s;
    }

    .inclua-grid3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 500px;
        grid-template-areas:
                    "inclua "
                    "guias ";
    }

    .inclua-texto {
        font-family: "Sora", sans-serif;
        /* padding: 0px 15px; */
        font-size: var(--font-global-sm);
        grid-area: inclua;
    }

    .recurso-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "recursos";
        margin-top: 510px;
    }
}
